@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Noto Serif', serif;
    color: #4f4f4f;
    background-image: url("../images/kilwins-bg-image.png");
    width: 100vw;
    background-image: cover;
}

.single-column-layout {
    width: 40%;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#nav-bar {
    display: flex;
    border: 1px solid #d6d5d58a;
    border-radius: 5px;
    font-size: 12px;
    padding: 8px;
    box-shadow: 4px 4px 10px #a7a7a733;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: white;
}

#logo-container {
    width: 100px;
}

#logo-pic {
    width: 100%;
}

.link a{
    text-decoration: none;
    color: black;
    margin: 0px 20px;
}

.link a:hover {
    color: #7a0b06;
    padding-bottom: 12px;
    border-bottom: 3px solid #7a0b06;
}

.link i {
    font-size: 10px;
}

#button {
    background: linear-gradient(180deg,#af2f29 0%,#7a0b06 100%);
    border-radius: 7px;
    padding: 10px 15px;
}

#button a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

.breadcrumb a {
    color: #4f4f4f;
}

.breadcrumb a:hover {
    text-decoration: none;
}

#main-content i {
    font-size: 8px;
}

#container-main-gallery {
    display: flex;
    justify-content: space-evenly;
}

.gallery-container {
    border: 1px solid #d6d5d58a;
    margin: 20px 10px;
    padding: 0px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 4px 4px 10px #a7a7a733;
    background-color: white;
    transition:
        box-shadow 0.5s,
        transform 0.5s;
}

.gallery-container:hover {
    box-shadow: 10px 10px 10px #81818133;
    transform: translatey(-12px)
}

.gallery-image {
    width: 100%;
}

.italic {
    font-family: "Bad Script", cursive;
}

.gallery-container sup {
    font-size: 8px;
}