* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: #b9e0e0;
}

#grid-layout {
    display: grid;
    grid-template-columns: 1fr 850px 250px 1fr;
    grid-template-areas: ". content sidebar .";
    margin: 36px 0px;
}

#sticky-sidebar {
    position: sticky;
    top: 24px;
}

#sidebar-content {
    grid-area: sidebar;
    padding: 18px;
}

#sidebar-content h2 {
    background-color: #066963;
    color: #f6f5f5;
    padding: 12px;
    font-size: 18px;
    margin: 0px;
}

#sidebar-content ul {
    background-color: #f6f5f5;
    margin: 0px 0px 36px;
    border: 1px solid #066963;
    list-style-type: none;
    padding: 0px 12px;
}

#sidebar-content a {
    text-decoration: none;
    color: #066963;
}

#sidebar-content li {
    padding: 8px 0px;
    border-bottom: 1px solid #066963;
}

#sidebar-content li:hover {
    background-color: #cacaca;
    padding: 10px;
} 

#sidebar-content li:last-child {
    border-bottom: 0px;
}

#main-content {
    padding: 48px;
    margin: 0px 36px;
    grid-area: content;
    border: 2px solid #066963;
    border-radius: 20px;
    background-color: #f6f5f5;
}

#main-content h1 {
    color: #064d48;
}

#pic1 {
    width: 100%;
}

#author-and-date {
    font-size: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid #066963;
    margin-bottom: 30px;
}

#main-content a {
    color: #5c5c5c;
    text-decoration: none;
}

.center {
    text-align: center;
}

.subheading {
    padding: 20px 0px;
}

#pic2 {
    width: 75%;
}

#pic3 {
    width: 100%;
}