/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Bulletin Board assignment.

    Good luck, and have fun!
*/
.row1,
.row2 {
    text-align: center;
}
.post-it {
    display: inline-block;
    width: 230px;
    height: 230px;
    margin: 24px;
    padding: 24px;
    box-shadow: -4px -4px 4px #00000033;
    text-align: left;
}
.blue {
    background-color: #aeeaea;
    font-family: sans-serif;
}
.pink {
    background-color: #e7a7bc;
    font-family: Arial, Helvetica, sans-serif;
}
.yellow {
    background-color: yellow;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.lavender {
    background-color: #cfcfef;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}
.green {
    background-color: #a4daa4;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 40px;
}
.catto {
    margin: 20px;
    text-align: center;
}
.cat1 {
    width: 80%;
    border-radius: 10%;
}
.linethrough {
    text-decoration: line-through;
}
.underline {
    text-decoration: underline;
}
.italic {
    font-style: italic;
}
.push-pin {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: auto;
}
.pin-style1 {
    background-color: #c26262;
    box-shadow: -2px -2px 2px #00000033;
}
.pin-style2 {
    background-color: #4a884a;
    box-shadow: -2px -2px 2px #00000033;
}
.pin-style3 {
    background-color: #63215b;
    box-shadow: -2px -2px 2px #00000033;
}
.pin-style4 {
    background-color: #2323b5;
    box-shadow: -2px -2px 2px #00000033;
}