@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    font-family: "Urbanist", sans-serif;
    background-color: #573467;
}

/* Navigation */
.navbar {
    grid-area: navbar;
    background-color: #deb4d1;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    box-shadow: 4px 4px 4px #00000033;
    position: sticky;
    top: 0px;
}

.navbar a {
    text-decoration: none;
    color: black;
    padding: 24px 48px;
    border-bottom: 2px solid black;
    border-radius: 24px 24px 0px 0px;
    transition:
        background-color 0.3s;
}

.navbar a:hover {
    background-color: #CD8BB8;
}

.navbar #logo {
    margin-right: auto;
    padding: 6px;
    border-bottom: none;
    display: flex;
    align-items: center;
}

.navbar #logo #logo-pic-1 {
    width: 125px;
}

.navbar #logo #logo-pic-2 {
    width: 400px;
}

.navbar #logo #logo-pic-3 {
    width: 150px;
    display: none;
}

.navbar #logo:hover {
    background-color: transparent;
}

.footer-1 {
    grid-area: footer-1;
    margin-top: 100px;
}

.footer-1 .icon-layout {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
    background-color: #deb4d1;
    padding: 50px;
}

.footer-1 .icon-layout .icon-container {
    text-align: center;
    max-width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-1 .icon-layout .icon-container .img-container img {
    width: 100%;
}

.footer-1 .icon-layout .icon-container .cta-icon {
    text-decoration: none;
    background-color: #9F1F63;
    color: white;
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    width: 160px;
    padding: 16px 28px;
    border-radius: 36px;
    transition:
        background-color 0.3s,
        color 0.3s;
}

.footer-1 .icon-layout .icon-container .cta-icon:hover {
    background-color: #CD8BB8;
    color: #573467;
}

.footer-2 {
    grid-area: footer-2;
    background-color: #deb4d1;
    color: black;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.footer-2 #footer-logo-container {
    width: 525px;
    padding: 24px;
}

.footer-2 #footer-logo-container img {
    width: 100%;
}

.footer-2 #copyright {
    padding: 24px;
}

.footer-2 .search-field {
    background-color: white;
    color: black; 
    display: block;
    width: 500px;
    padding: 14px 28px;
    border-radius: 16px;
}

.footer-2 .search-field i {
    padding-right: 6px;
}

.footer-2 #back {
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
}

.footer-2 #back:hover i {
    color: #F5D965;
}

.footer-2 #back i {
    font-size: 50px;
    padding: 18px;
    transition: 
        color 0.3s;
}

/* Home Page */
#main-layout {
    display: grid;
    grid-template-columns: 5% 45% 45% 5%;
    grid-template-areas:
        "navbar     navbar      navbar      navbar"
        "hero-1     hero-1      hero-1      hero-1"
        ".          box-1       box-2       ."
        ".          box-3       box-4       ."
        ".          box-5       box-6       ."
        "footer-1   footer-1    footer-1    footer-1"
        "footer-2   footer-2    footer-2    footer-2";
}

#hero-1 {
    grid-area: hero-1;
    background: 
        linear-gradient(
            to right,
            #81808029,
            #be62a16d
        ),
        url("../images/hero-1.jpg");
    height: 90vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 100px;
}

#hero-1-content {
    padding-right: 48px;
}

#hero-1-content h1 {
    font-family: "Lobster Two", sans-serif;
    color: white;
    text-shadow: 2px 2px #573467;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 68px;
    padding: 20px;
}

#hero-1-content #cta-button-1 {
    background-color: #9F1F63;
    text-decoration: none;
    display: block;
    margin-top: 48px;
    padding: 24px 48px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 36px;
    text-align: center;
    transition:
        background-color 0.3s,
        color 0.3s;
}

#hero-1-content #cta-button-1:hover {
    background-color: #CD8BB8;
    color: #573467;
}

#box-1 {
    grid-area: box-1;
}

#box-2 {
    grid-area: box-2;
}

#box-3 {
    grid-area: box-3;
}

#box-4 {
    grid-area: box-4;
}

#box-5 {
    grid-area: box-5;
}

#box-6 {
    grid-area: box-6;
}

.box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-text {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box-text h3 {
    font-size: 28px;
    font-family: "Lobster Two", sans-serif;
    border-top: 4px solid #F5D965;
    border-right: 4px solid #F5D965;
    padding: 16px 32px;
    width: 100%;
    max-width: 450px;
}

.box-text p {
    max-width: 450px;
}

.box-text .cta-button-main {
    text-decoration: none;
    background-color: #9F1F63;
    color: white;
    width: 100%;
    max-width: 400px;
    font-weight: bold;
    padding: 20px 32px;
    border-radius: 36px;
    margin-top: 12px;
    transition:
        background-color 0.3s,
        color 0.3s;
}

.box-text .cta-button-main:hover {
    background-color: #CD8BB8;
    color: #573467;
}

/* Menu Page */
#menu-layout {
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-areas:
        "navbar     navbar      navbar"
        ".          featured    ."
        ".          favorites   ."
        "footer-1   footer-1    footer-1"
        "footer-2   footer-2    footer-2";
}

#featured {
    grid-area: featured;
    max-width: 1500px;
    margin: 70px auto;
}

#featured .centered-heading {
    display: flex;
    justify-content: center;
}

#featured .centered-heading h2 {
    text-align: center;
    font-size: 32px;
    font-family: "Lobster Two", sans-serif;
    color: white;
    border-top: 4px solid #F5D965;
    border-right: 4px solid #F5D965;
    padding: 16px 32px;
    width: 100%;
    max-width: 400px;
}

#featured-container {
    display: flex;
    justify-content: center;
}

#featured-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

#featured-info {
    width: 600px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#featured-info #featured-description {
    width: 100%;
    max-width: 300px;
    text-align: center;
    font-style: italic;
}

#featured-info .price {
    font-weight: bold;
}

#our-favorites {
    grid-area: favorites;
}

#our-favorites .centered-heading {
    display: flex;
    justify-content: center;
}

#our-favorites .centered-heading h2 {
    text-align: center;
    font-size: 32px;
    font-family: "Lobster Two", sans-serif;
    color: white;
    border-top: 4px solid #F5D965;
    border-right: 4px solid #F5D965;
    padding: 16px 32px;
    width: 100%;
    max-width: 400px;
}

#card-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 1200px;
    margin: 0px auto;
    gap: 36px;
}

#card-gallery .card {
    text-align: center;
    background-color: white;
}

#card-gallery .card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#our-favorites #cta-full-menu {
    text-decoration: none;
    background-color: #9F1F63;
    color: white;
    display: block;
    width: 200px;
    margin: 50px auto;
    text-align: center;
    font-weight: bold;
    padding: 20px 32px;
    border-radius: 36px;
    transition:
        background-color 0.3s,
        color 0.3s;
}

#our-favorites #cta-full-menu:hover {
    background-color: #CD8BB8;
    color: #573467;
}

/* First Breakpoint  */
@media screen and (max-width: 1399px) and (min-width: 1295px) {
    .footer-2 {
        flex-direction: column;
        gap: 20px;
    }
}

/* Second Breakpoint */
@media screen and (max-width: 1294px) and (min-width: 1118px) {
    .navbar {
        flex-wrap: wrap;
    }

    .navbar a {
        flex: 150px;
        text-align: center;
    }

    .navbar #logo {
        flex: 100%;
        justify-content: center;
    }

    #card-gallery {
        grid-template-columns: 1fr 1fr;
        width: 800px;
        margin: 0px auto;
    }

    #card-gallery .card {
        margin: 18px;
    }

    .footer-2 {
        flex-direction: column;
        gap: 20px;
    }
}

/* Third Breakpoint  */
@media screen and (max-width: 1117px) and (min-width: 800px) {
    .navbar {
        flex-wrap: wrap;
    }

    .navbar a {
        flex: 150px;
        text-align: center;
    }

    .navbar #logo {
        flex: 100%;
        justify-content: center;
    }

    .box-text {
        padding: 24px;
    }
    
    #card-gallery {
        grid-template-columns: 1fr 1fr;
        width: 700px;
        margin: 0px auto;
    }
       
    .footer-1 .icon-layout {
        flex-wrap: wrap;
    }

    .footer-2 {
        flex-direction: column;
        gap: 20px;
    }
}

/* Fourth Breakpoint  */
@media screen and (max-width: 799px) and (min-width: 600px) {
    #main-layout {
        grid-template-columns: 5% 90% 5%;
        grid-template-areas:
            "navbar     navbar      navbar"      
            "hero-1     hero-1      hero-1"      
            ".          box-2       ."
            ".          box-1       ."   
            ".          box-3       ."
            ".          box-4       ."    
            ".          box-6       ."
            ".          box-5       ."
            "footer-1   footer-1    footer-1"   
            "footer-2   footer-2    footer-2";    
    }

    .navbar {
        flex-wrap: wrap;
    }

    .navbar a {
        flex: 200px;
        text-align: center;
    }

    .navbar #logo #logo-pic-1 {
        display: none;
    }

    .navbar #logo #logo-pic-2 {
        display: none;
    }

    .navbar #logo #logo-pic-3 {
        display: block;
    }

    .navbar #logo {
        flex: 100%;
        justify-content: center;
    }

    #hero-1 {
        align-items: center;
        height: 50vh;
    }

    #hero-1 h1 {
        font-size: 48px;
    }

    #hero-1-content #cta-button-1 {
        font-size: 14px;
        width: 60%;
        margin: 36px auto;
    }

    .footer-1 .icon-layout {
        flex-wrap: wrap;
    }

    .footer-2 {
        flex-direction: column;
        gap: 20px;
    }

    .footer-2 .search-field {
        width: 400px;
    }

    .box-text {
        height: 400px;
        padding: 24px;
    }

    .box-img {
        height: 400px;
    }

    #featured-container {
        flex-direction: column;
        align-items: center;
    }

    #featured-img img {
        height: 300px;
        width: 450px;
        object-fit: cover;
    }

    #featured-info {
        height: 300px;
        width: 450px;
    }

    #card-gallery {
        grid-template-columns: 1fr;
        width: 400px;
        margin: 0px auto;
    }
}

/* Fifth Breakpoint */
@media screen and (max-width: 599px) {
    #main-layout {
        grid-template-columns: 5% 90% 5%;
        grid-template-areas:
            "navbar     navbar      navbar"      
            "hero-1     hero-1      hero-1"      
            ".          box-2       ."
            ".          box-1       ."   
            ".          box-3       ."
            ".          box-4       ."    
            ".          box-6       ."
            ".          box-5       ."
            "footer-1   footer-1    footer-1"   
            "footer-2   footer-2    footer-2";    
    }

    .navbar {
        flex-wrap: wrap;
    }

    .navbar a {
        flex: 150px;
        text-align: center;
    }

    .navbar #logo #logo-pic-1 {
        display: none;
    }

    .navbar #logo #logo-pic-2 {
        display: none;
    }

    .navbar #logo #logo-pic-3 {
        display: block;
    }

    .navbar #logo {
        flex: 100%;
        justify-content: center;
    }

    #hero-1 {
        align-items: center;
        height: 50vh;
    }

    #hero-1 h1 {
        font-size: 48px;
    }

    #hero-1-content #cta-button-1 {
        font-size: 14px;
        width: 60%;
        margin: 36px auto;
    }

    .footer-1 .icon-layout {
        flex-wrap: wrap;
    }

    .footer-2 {
        flex-direction: column;
        gap: 20px;
    }

    .footer-2 .search-field {
        width: 400px;
    }

    .box-text {
        height: 400px;
        padding: 24px;
    }

    .box-img {
        height: 400px;
    }

    #featured-container {
        flex-direction: column;
        align-items: center;
    }

    #featured-img img {
        height: 300px;
        width: 450px;
        object-fit: cover;
    }

    #featured-info {
        height: 300px;
        width: 450px;
    }

    #card-gallery {
        grid-template-columns: 1fr;
        width: 400px;
        margin: 0px auto;
    }
}