* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: #fdb400;
}

#layout {
    max-width: 1200px;
    margin: 0px auto;
}

#logo-container {
    background-color: #ffdb80;
    text-align: center;
    position: sticky;
    top: 0px;
}

#logo-container img {
    width: 200px;
    padding: 10px;
}

#hero {
    background-image: url("../images/momofuku.webp");
    background-size: cover;
    background-position: center center;
    height: 75vh;
    margin-top: 36px;
}

#description {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

#cards-container {
    background-color: #63cbb1;
    height: 400px;
    margin: 48px 0px;
    padding: 48px;
    display: flex;
    justify-content: center;
}

.card {
    background-color: #55b9a0;
    width: 375px;
    box-shadow: 4px 4px 12px #2e5c50;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    margin: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
