@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background: url(../images/background-turtles.jpg)
}

#navbar {
    background-color: #219f9f;
    display: flex;
    align-items: center;
    border-bottom: 3px solid #135454;
    box-shadow: 4px 4px 4px #00000033;
    position: sticky;
    top: 0px;
}

#navbar a {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    color: azure;
    padding: 18px;
}

#navbar a:hover {
    text-decoration: underline;
}

#navbar i {
    font-size: 12px;
}

#navbar .cta-button {
    background-color: #f0b40e;
    color: #0a3b3b;
    box-shadow: 2px 2px 4px #2c5151;
    border-radius: 20px;
    padding: 16px 20px;
    font-weight: bold;
    margin-right: 24px;
    transition: 
        text-decoration 0.3s,
        background-color 0.3s,
        color 0.3s,
        box-shadow 0.3s,
        transform 0.3s;
} 

#navbar .cta-button:hover {
    text-decoration: none;
    background-color: #0a3b3b;
    color: #f0b40e;
    box-shadow: 2px 2px 2px #2c5151;
    transform: translateY(3px);
}

#navbar #company-name {
    display: flex;
    align-items: center;
    font-family: "Sora", sans-serif;
    font-size: 36px;
    font-weight: bold;
    padding-right: 0px;
    margin-right: auto;
    transition: 
        text-decoration 0.4s,
        color 0.4s;
}

#navbar #company-name:hover {
    text-decoration: none;
    color: #0a3b3b;
}

#navbar #logo-container img {
    width: 80px;
}

.dropdown-container {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.3s,
        visibility 0.3s;
}

.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu a {
    background-color: #55c4c4;
    width: 100%;
    min-width: 200px;
}

#navbar .dropdown-menu a:hover {
    text-decoration: none;
    background-color: #8cdfdf;
    color: #0a3b3b
}

#navbar .dropdown-menu a:active {
    font-weight: bold;
    background-color: #51b6b6;
}

#hero-1 {
    background-image: url("../images/hero.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#hero-1 h1 {
    color: white;
    font-size: 60px;
    margin-right: 100px;
}

.centered-layout {
    width: 50%;
    min-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.pet-container {
    text-align: center;
    background-color: #219f9fdc;
    border-radius: 24px;
    box-shadow: 4px 4px 4px #00000033;
}

.pet-name {
    padding-top: 36px;
    font-size: 36px;
}

.left img {
    width: 100%;
    border-radius: 24px;
    box-shadow: 4px 4px 4px #00000033;
}

.side-by-side {
    display: flex;
    justify-content: space-evenly;
    padding: 24px;
}

.left {
    padding-bottom: 24px;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 24px;
}

.right p {
    width: 150px;
    text-align: left;
}

.cta-button-choose-me {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    background-color: #5454da;
    color: azure;
    border-radius: 20px;
    box-shadow: 2px 2px 4px #2c5151;
    padding: 16px 20px;
    margin-bottom: 36px;
    transition: 
        background-color 0.3s,
        color 0.3s,
        box-shadow 0.3s,
        transform 0.3s;
}

.cta-button-choose-me:hover {
    background-color: azure;
    color: #5454da;
    box-shadow: 2px 2px 2px #2c5151;
    transform: translateY(3px);
}

.about {
    display: flex;
    text-align: left;
}

.category {
    margin-right: 12px;
    font-weight: bold;
}

.description {
    font-style: italic;
}

/* first breakpoint */
@media screen and (max-width: 812px) and (min-width: 581px) {
    #navbar a {
        font-size: 16px;
        padding: 12px;
    }

    #navbar #company-name {
        font-size: 30px;
    }

    #navbar #logo-container img {
        width: 60px;
    }

    #hero-1 h1 {
        font-size: 50px;
    }

    .pet-container {
        display: flex;
        flex-direction: column;
        margin: 24px;
    }

    .side-by-side {
        flex-direction: column;
        align-items: center;
        font-size: 16px;
    }

    .right {
        width: 400px;
        display: flex;
        justify-content: center;
        padding: 0px;
    }

    .left {
        width: 400px;
    }

    .centered-layout {
        min-width: 600px;
    }

    .pet-name {
        font-size: 32px;
    }

    .about {
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
    }

    .right p {
        width: 400px;
        text-align: center;
    }
}

/* second breakpoint */
@media screen and (max-width: 580px) and (min-width: 479px) {
    #navbar a {
        font-size: 12px;
        padding: 12px;
    }

    #navbar .cta-button {
        padding: 12px 16px;
    }

    #navbar .cta-button i {
        display: none;
    }

    #navbar #company-name {
        font-size: 24px;
    }

    #navbar #logo-container img {
        width: 60px;
    }

    #hero-1 h1 {
        font-size: 30px;
    }

    .pet-container {
        display: flex;
        flex-direction: column;
        margin: 24px;
    }

    .side-by-side {
        flex-direction: column;
        align-items: center;
        font-size: 14px;
    }

    .right {
        width: 300px;
        display: flex;
        justify-content: center;
        padding: 0px;
    }

    .left {
        width: 300px;
    }

    .centered-layout {
        min-width: 475px;
    }

    .pet-name {
        font-size: 32px;
    }

    .about {
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
    }

    .right p {
        width: 300px;
        text-align: center;
    }
}