* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#two-columns {
    display: flex;
}

#sticky-sidebar {
    position: sticky;
    top: 24px;
}

#sidebar-content {
    background-color: #cadede;
    width: 250px;
    padding: 24px;
    border-right: 2px solid #4d9292;
}

#sidebar-content h2 {
    border-bottom: 2px solid #4d9292;
    padding-bottom: 8px;
}

#sidebar-content ul {
    list-style-type: none;
    padding: 0px;
}

#sidebar-content ul a {
    color: #111111;
    text-decoration: none;
}

#sidebar-content ul li {
    padding: 4px 0px;
}

.indent {
    margin-left: 20px;
}

#main-content {
    flex: 1;
    padding: 48px;
}

#main-content h1 {
    border-bottom: 2px solid #111111;
    padding-bottom: 8px;
}

#s1-left-side {
    width: 250px;
    background-color: #cadede;
    border: 1px solid #6a6a6a;
    padding: 10px;
    margin: 10px;
    float: left;
}

#s1-right-side {
    flex: 1;
    padding: 10px;
}

#s1-image {
    width: 100%;
}

#wrap-end {
    clear: left;
    margin-top: 0px;
}

.section-heading {
    border-bottom: 2px solid #111111;
    padding-bottom: 8px;
}

#s2-container {
    display: flex;
}

#s2-left-side {
    flex: 1;
    padding: 10px;
}

#s2-right-side {
    width: 350px;
    padding: 10px;
    margin: 10px;
}

#s2-image {
    width: 100%
}